:root {
    --default: teal;
    --wrong: red;
    --right: green;
    --floating:0 0 10px 2px;
}

body {
    width:auto;
    height: auto;
    background-color: var(--default);
}

nav {
    background-color: #1d3131c9;
    padding:25px;
    font-size: 20px;
    top:0;
    display:row;
    font-size: 30px;

}

nav p {
    float:right;
    display:inline;
}

.choices {
    background-color: #7840e0;
}

.choices:hover {
    box-shadow: var(--floating);
}

#multiplechoice {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0 ;
}

#quizbox {
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#quiz {
    width: 800px;
    height: 800px;
    background-color:#2041ad;
    border-radius:5px;
    padding:20px;
    box-shadow: var(--floating);
}

body.right {
    background-color: var(--right);
}

body.wrong {
   background-color: var(--wrong);
}

.hidden {
    display:none;
}
